@import "mixins";
/***** VERTICAL CONTENT *****/
/***** VERTICAL CONTENT *****/
/***** VERTICAL CONTENT *****/
.category-home-vertical-wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 80px;
  @include for-tablet-landscape-up {
    flex-direction: row;
    margin: 25px 0 0 25px;
    flex-wrap: wrap;
  }
}
.category-home-vertical {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include for-tablet-landscape-up {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }
}

.home-posts-wrap {
  margin: 0 25px;
}

/***** HOME POST CARD *****/
/***** HOME POST CARD *****/
/***** HOME POST CARD *****/
.full-home-card {
  margin: 10px 0;
}
.full-home-card-open {
  margin: 10px 0 20px 0;
}
.font-category-header {
  padding: 10px 0 10px 0px;
  font-size: 30px;
  color: $nutshell_green;
  font-family: "Sanchez", serif;
  @include for-tablet-landscape-up {
    text-align: left;
  }
}
.home-post-card {
  background-color: #ffffff;
  display: flex;
  margin: 10px 0;
  width: 300px;
  min-height: 40px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;

  @include for-tablet-landscape-up {
    display: flex;
    width: 350px;
    min-height: 60px;
    height: auto;
    margin: 15px 0 0 0px;
    background-color: #ffffff;
    border-radius: 10px;
  }
}
.home-post-card-open {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
  width: 300px;
  height: 60px;

  @include for-tablet-landscape-up {
    display: flex;
    width: 350px;
    height: 60px;
    margin: 15px 0 0 0px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
  }
}
.post-card-bookmark {
  margin: auto 10px;
  position: relative;
  width: 40px;
  height: 30px;
  @include for-tablet-landscape-up {
    margin: auto 15px;
    width: 45px;
    height: 35px;
  }
}
.post-title {
  font-size: 20px;
  font-weight: 600;
  margin: auto 0;
  width: 100%;
  text-align: left;
  padding-bottom: 3px;
}
.post-card-carot {
  margin: auto 18px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 18px;
  width: 15px;
  transition: all 2 linear;
}
.post-card-carot-open {
  margin: auto 18px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 20px;
  width: 15px;
  transform: rotate(90deg);
}
/***** BOOKMARK.JS *****/
/***** BOOKMARK.JS *****/
/***** BOOKMARK.JS *****/
.post-icon-bg {
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  margin-bottom: 15px;
  padding: 10px 0;
}
.post-icon-bg-tracked {
  background-color: $nutshell_purple;
  height: 45px;
  width: 45px;
  margin-bottom: 15px;
  padding: 10px 0;
}
.bookmark-img-wrap {
  height: 25px;
  width: 25px;
  margin: auto;
  display: block;
  position: relative;
}
/***** HOME POST CARD EXTENSION *****/
/***** HOME POST CARD EXTENSION *****/
/***** HOME POST CARD EXTENSION *****/
.subheader-list {
  height: 0;
  overflow: hidden;
}
.subheader-list-open {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.home-post-card-extension {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: auto 0;
  border-radius: 0px;
  @include for-tablet-landscape-up {
    display: flex;
    width: 350px;
    border-radius: 0px;
  }
}
.extension-subheader {
  display: flex;
  margin: auto 0;
}
.extension-subheader-text {
  margin: auto 0;
}
.extension-logo-wrap {
  height: 25px;
  width: 25px;
  margin: 5px 11px;
  position: relative;
  @include for-tablet-landscape-up {
    margin: 5px 15px 5px 18px;
  }
}
