@import "mixins";
/***** VERTICAL CONTENT *****/
/***** VERTICAL CONTENT *****/
/***** VERTICAL CONTENT *****/
.category-home-vertical-wrap {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 80px;
  @include for-tablet-landscape-up {
    flex-direction: row;
    margin: 25px 0 0 25px;
    flex-wrap: wrap;
  }
}
.category-home-vertical {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @include for-tablet-landscape-up {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
  }
}

.home-posts-wrap {
  margin: 0 25px;
}

/***** HOME POST CARD *****/
/***** HOME POST CARD *****/
/***** HOME POST CARD *****/
.full-home-card {
  margin: 10px 0;
  @include for-tablet-landscape-up {
    margin: 20px 0;
  }
}
.full-home-card-open {
  margin: 10px 0 20px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid $bg-purple;
  @include for-tablet-landscape-up {
    margin: 20px 0 20px 0;
  }
}
.font-category-header {
  padding: 10px 0 10px 0px;
  font-size: 30px;
  color: $nutshell_green;
  font-family: "Sanchez", serif;
  @include for-tablet-landscape-up {
    text-align: left;
  }
}
.home-post-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: auto;
  width: 300px;
  min-height: 60px;
  line-height: 30px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid $bg-purple;

  @include for-tablet-landscape-up {
    display: flex;
    width: 350px;
    min-height: 60px;
    line-height: 30px;
    margin: 0px 0 0 0px;
    background-color: #ffffff;
    border-radius: 10px;
  }
}
.home-post-card-open {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  display: flex;
  width: 300px;
  min-height: 60px;
  line-height: 30px;

  @include for-tablet-landscape-up {
    display: flex;
    width: 350px;
    min-height: 60px;
    line-height: 30px;
    margin: 0px 0 0 0px;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
  }
}
.post-card-bookmark {
  margin: auto 10px;
  position: relative;
  width: 40px;
  height: 25px;
  @include for-tablet-landscape-up {
    margin: auto 15px;
    width: 45px;
    height: 30px;
  }
}
.post-title {
  font-size: 20px;
  font-weight: 600;
  margin: auto 0;
  width: 100%;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: $nutshell_green;
  }
}
.post-card-carot {
  margin: auto 18px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 18px;
  width: 15px;
  transition: all 2 linear;
  cursor: pointer;
}
.post-card-carot-open {
  margin: auto 18px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  height: 20px;
  width: 15px;
  transform: rotate(90deg);
  cursor: pointer;
}
/***** BOOKMARK.JS *****/
/***** BOOKMARK.JS *****/
/***** BOOKMARK.JS *****/
.post-icon-bg {
  background-color: #ffffff;
  height: 45px;
  width: 45px;
  margin-bottom: 15px;
  padding: 10px 0;
}
.post-icon-bg-tracked {
  background-color: $nutshell_purple;
  height: 45px;
  width: 45px;
  margin-bottom: 15px;
  padding: 10px 0;
}
.bookmark-img-wrap {
  height: 25px;
  width: 25px;
  margin: auto;
  display: block;
  position: relative;
}
/***** HOME POST CARD EXTENSION *****/
/***** HOME POST CARD EXTENSION *****/
/***** HOME POST CARD EXTENSION *****/
.subheader-list {
  height: 0;
  overflow: hidden;
}
.subheader-list-open {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  width: 300px;
  padding-bottom: 8px;
  background-color: #ffffff;
  @include for-tablet-landscape-up {
    width: 350px;
  }
}
.home-post-card-extension {
  display: flex;
  flex-direction: column;
  width: 300px;
  line-height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: auto 0;
  border-radius: 0px;
  @include for-tablet-landscape-up {
    display: flex;
    width: 350px;
    border-radius: 0px;
  }
}
.extension-subheader {
  display: flex;
  margin: auto 0;
}
.extension-subheader-text {
  margin: auto 0;
  font-weight: 600;
  text-align: left;
}
.extension-logo-wrap {
  height: 25px;
  width: 25px;
  margin: 5px 11px 5px 12px;
  position: relative;
  @include for-tablet-landscape-up {
    margin: 5px 15px 5px 19px;
  }
}
