@import "mixins";

/***** CURRENT EVENTS CARD *****/
/***** CURRENT EVENTS CARD *****/
/***** CURRENT EVENTS CARD *****/

.font-category-header {
  padding: 15px 0 10px 0px;
  font-size: 30px;
  color: $nutshell_green;
  font-family: "Sanchez", serif;
  @include for-tablet-landscape-up {
    text-align: left;
  }
}
.ce-horizontal-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include for-tablet-landscape-up {
    margin: 0px;

    ::-webkit-scrollbar {
      display: flex;
      height: 8px;
      width: 1px;
    }
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: $bg_purple;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $nutshell-green;
      border-radius: 10px;
    }
  }
}
.scroll-button {
  display: none;
  @include for-tablet-landscape-up {
    display: block;
    margin: 45px auto 75px auto;
    background-color: $nutshell-purple;
    border: 1px solid $nutshell-green;
    color: $nutshell-green;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: $nutshell-green;
      color: $nutshell_purple;
      font-weight: 700;
    }
  }
}
.current-events {
  margin: 0vh 0 10px 20px;
  width: 100vw;

  @include for-tablet-landscape-up {
    margin: 0 0px 0 25px;
    padding-right: 0px;
  }
  .ce-card-wrap {
    display: flex;
    margin: 0;
    overflow-x: scroll;
    padding: 10px 0;
    padding-left: 10px;

    @include for-tablet-landscape-up {
      width: calc(100vw - 75px);
      padding: 10px 0 35px 20px;

    }
  }
}
.ce-map-l1 {
  height: 100%;
  width: auto;
  display: flex;
}
.ce-map {
  display: flex;
  @include for-tablet-landscape-up {
    :hover {
      transform: scale(1.05);
    }
  }
}
.current-events-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin-right: 20px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  @include for-tablet-landscape-up {
    margin: 0px 50px 0 0px;
    width: 400px;
    height: 300px;
    :hover {
      transform: scale(1);
      
    }
  }
}
.ce-card-header {
  display: flex;
  justify-content: space-between;
}
.ce-card-subheader {
  color: white;
  background-color: $bg-purple;
  height: 30px;
  font-weight: 600;
  width: 45vw;
  border-radius: 10px;
  margin: 0;

  @include for-tablet-landscape-up {
    height: 30px;
    width: 145px;
    margin: 15px 0 0 15px;
    border-radius: .5rem;
    :hover {
      background-color: $nutshell-green;
      border-radius: .5rem;
    }
  }
  .subheader-text {
    font-family: "Montserrat", SemiBold;
    text-align: center;
    height: 30px;
    padding-top: 2%;
    
   
  }
}

.ce-card-postdate {
  margin: auto 3vw;
  color: $nutshell_purple;
  font-weight: 500;
  font-size: 16px;
  @include for-tablet-landscape-up {
    margin: 15px 15px 0 0;
    font-weight: 500;
    &:hover {
      color: $nutshell_green;
    }
  }
}
.ce-card-main {
  font-size: 14px;
  margin: 1.5vh 3vw 0 3vw;
  height: 225px;
  overflow: scroll;
  @include for-tablet-landscape-up {
    margin: 15px 20px 0 20px;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
    /* this will hide the scrollbar in mozilla based browsers */
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    /* this will hide the scrollbar in internet explorers */
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      display: none;
      width: 0 !important;
      background-color: white;
    }
  }
}
.ce-card-citation {
  font-size: 14px;
  color: $nutshell_purple;
  margin: 0vh 0 0 3vw;
  height: 14px;
  @include for-tablet-landscape-up {
    margin: 15px 0 15px 15px;
    &:hover {
      color: $nutshell_green;
    }
  }
}
