@import "mixins";

/***** CURRENT EVENTS CARD *****/
/***** CURRENT EVENTS CARD *****/
/***** CURRENT EVENTS CARD *****/

.font-category-header {
  padding: 10px 0 10px 0px;
  font-size: 30px;
  color: $nutshell_green;
  font-family: "Sanchez", serif;
  @include for-tablet-landscape-up {
    text-align: left;
  }
}
.current-events {
  margin: 0vh 0 10px 20px;
  width: 100vw;
  @include for-tablet-landscape-up {
    margin: 0 0px 0 25px;
    padding-right: 100px;
  }
  .ce-card-wrap {
    display: flex;
    margin: 0;
    overflow-x: scroll;
    padding: 10px 0;

    @include for-tablet-landscape-up {
      width: calc(100vw - 75px);
      padding: 10px 0 35px 0;
    }
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
.ce-map-l1 {
  height: 100%;
  width: auto;
  display: flex;
}
.ce-map {
  display: flex;
  @include for-tablet-landscape-up {
    :hover {
      transform: scale(0.98);
    }
  }
}
.current-events-card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  margin-right: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  @include for-tablet-landscape-up {
    margin: 0px 25px 0 0px;
    width: 400px;
  }
}
.ce-card-header {
  display: flex;
  justify-content: space-between;
}
.ce-card-subheader {
  color: black;
  background-color: $bg-green;
  height: 30px;
  font-weight: 600;
  width: 45vw;
  border-radius: 4px;
  margin: auto 0;

  @include for-tablet-landscape-up {
    height: 25px;
    width: 145px;
    margin: 15px 0 0 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
}
.subheader-text {
  font-family: "Montserrat", SemiBold;
  text-align: center;
  margin: 4px auto;
}
.ce-card-postdate {
  margin: auto 3vw;

  @include for-tablet-landscape-up {
    margin: 15px 15px 0 0;
  }
}
.ce-card-main {
  font-size: 16px;
  margin: 1.5vh 3vw 0 3vw;
  height: 225px;
  overflow: hide;

  @include for-tablet-landscape-up {
    margin: 15px 15px 0 15px;
    height: 100%;
  }
}
.ce-card-citation {
  font-size: 14px;
  color: $nutshell_purple;
  margin: 0vh 0 0 3vw;
  height: 14px;
  @include for-tablet-landscape-up {
    margin: 15px 0 15px 15px;
  }
}
.ce-horizontal-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @include for-tablet-landscape-up {
    margin: 0 25px;

    ::-webkit-scrollbar {
      display: flex;
      height: 8px;
    }
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background: $nutshell_purple;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $bg-green;
      border-radius: 10px;
      border: 3px solid $nutshell_green;
    }
  }
}
.next-button {
  right: 0;
  margin: auto 0;

  height: 100%;
  transition: all 0.5s ease-in-out;
  :hover {
    transform: translateX(25px);
  }
}
